/* mobile first applies from 0px to 412px */
/* 640 */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  width: var(--max-width);
  margin-bottom: 120px;
  max-width: 320px;
  text-align: center;
}

/* Tablet applies from 413px to 768px */
/* 960 */
@media (min-width: 959px) {
  .grid {
    max-width: 100%;
    grid-template-columns: repeat(2, minmax(50%, auto));
    gap: 1rem;
  }
}

/* Desktop applies from 769px and up */
/* 1280 */
/* @media (min-width: 1280px) {
  .grid {
  }
} */
